#encoding: UTF-8


<h1>Produktliste</h1>

<table>
<% @products.each do |product| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	<td>
	  <%= image_tag(product.image_url, class: 'list_image') %>
	</td>
	<td class="list_description">
	  <dl>
		<dt><%= product.title %></dt>
		<dd><%= truncate(strip_tags(product.description),
			  length: 80) %></dd>
	  </dl>
	</td>
	<td class="list_actions">
	   <%= link_to 'Anzeigen', product %><br/>
	   <%= link_to 'Bearbeiten', edit_product_path(product) %><br/>
	   <%= link_to 'Loeschen', product,
	                confirm: 'Sind Sie sicher?',
	                method: :delete %>
	</td>
  </tr>	
<% end %>
</table>

<br />

<%= link_to 'Neues Produkt', new_product_path %>
